.bg-primary {
  background: #17171e;

}
.bg-secondary {
  background: var(--mantine-color-primary-1);
}
.text-primary {
  color: var(--mantine-color-secondary-0);
}
* {
  overflow-y: auto; /* Enable vertical scrolling */

  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  height: 100vh;
  padding:80px 60px ;
  align-items: center;
  justify-content: start;
}
.How{
  font-weight: 400;
  display: flex;
  align-items: center;
}

.text{
  font-size: x-large;
  font-weight: normal;
}

.block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 15px 30px;
}
